body {
    margin: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* Navgitaion */
nav {
    padding: 0 15px;
}
.nav-list__link {
    display: inline-block;
    margin-right: 20px;
    transition: all 0.2s ease-in;
}
.nav-list__link:hover {
    transform: scale(1.15);
}
.nav-list__link.active {
    position: relative;
}
.nav-list__link.active::before {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    position: absolute;
    left: 0;
    top: 70%;
    background-color: #795548;
}
.brand-logo {
    transition: all 0.2s ease-in;
}
.brand-logo:hover {
    opacity: 0.7;
    transform: scale(1.1);
}

/* Main content */
.content {
    min-height: calc(100vh - 64px - 50px);
    padding: 10px 0;
}
.container.content {
    position: relative;
}
.btn {
    transition: all 0.2s ease-in;
}
.btn:hover {
    opacity: 0.8;
    transform: scale(105%);
}
.search {
    width: calc(100% - 100px) !important;
}
.list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 15px;
}

/* Карточки */
.card {
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
    border-radius: 10px !important;
    transition: all 0.2s ease-in;
}
.card .card-title {
    color: #795548;
    font-weight: 400;
}
.card .card-action:last-child {
    border-radius: 0 0 10px 10px;
}
.card .card-image > img {
    border-radius: 10px 10px 0 0;
}
.card-content {
    flex-grow: 1;
}

/* Страница с рецептом */
.recipe__header {
    text-align: center;
    color: #7c4700;
}
.recipe__img {
    display: block;
    max-width: 100%;
    margin: 0 auto;
    border-radius: 15px;
    max-height: 500px;
}
.recipe__category,
.recipe__area {
    color: #7c4700;
}
iframe {
    max-width: 100%;
    width: 600px;
    height: 350px;
}
.youtube {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.table__head {
    color: #7c4700;
}

/* Страница about */
.contact__wrapper,
.about__wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.about__title {
    margin-bottom: 40px;
    text-align: center;
    max-width: 345px;
}
.about__link {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease-in;
}
.about__link:hover {
    transform: scale(110%);
    opacity: 0.8;
}

/* Страница контакты */
.contact__item {
    min-width: 600px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
}
.contact__item > h4 {
    margin: 1rem 0 1rem;
}
.contact__item:last-of-type {
    margin-bottom: 40px;
}

/* Иконки */
.icon {
    transition: all 0.2s ease-in;
}
.icon:hover {
    transform: scale(1.2);
}
.icon__img {
    display: inline-block;
    width: 60px;
    height: 60px;
}
.icon__img.hhIcon {
    transform: scale(-1, 1);
    height: 50px;
}

/* Футер */
.page-footer {
    padding: 0;
}
.repo {
    transition: all 0.2s ease-in;
}
.repo:hover {
    transform: scale(1.15);
}

/* Медиа-запросы */
@media (max-width: 767px) {
    .nav-list__link:nth-child(2) {
        float: left !important;
        margin-right: 0;
    }
    .nav-list__link {
        margin-right: 0;
    }
    .contact__item {
        min-width: 300px;
    }
    .brand-logo {
        font-size: 1.6rem !important;
    }
}
